name: update-charts
on:
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch: {}
jobs:
  update-charts:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: fregante/setup-git-user@v2
      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          extra_nix_config: 'experimental-features = nix-command flakes'
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v12
        with:
          name: nixhelm
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Check for updates
        run: nix run .#helmupdater -- update-all --commit
      - name: Push updates
        run: git push
      - uses: flakestry/flakestry-publish@main
        with:
          version: "${{ github.sha }}"

